
.boxes img {
    object-fit: cover;
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.boxes {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(40, 39, 39, 0.63);
    height: 11rem;
    width: 11rem;
}
@media screen and (max-width: 480px) {
    .boxes{
        height: 30vw;
        width: 30vw;
    }
  }